body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.card {
  background: #020617;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}
